#Ignore all files and folders.
/*

#Except the Assets, ProjectSettings folder and the Packages folder, as well as the selected Git files.
!Assets/
!ProjectSettings/
!Packages/
!.gitignore
!.gitattributes